#app{
    background-color:lightseagreen;
}
#game{
    background-color: aqua;
}
.line{
    height:6px;
    background-color: #000;
    width:70px;
    margin: 8px auto;
}
#Chatbot{
    background-color: lightcoral;
}
body{
    text-align: center;
}